<div class="submit">

  <h2><strong>Submit an Article to Slackernews</strong></h2>
  <br>
  <p>Title:</p>

  <form action="/submit" method="post">

  <p><input type="text" name="title" size="100" placeholder="Enter Title here"></p>
  <p>URL:</p>
  <p><input type="text" name="url" size="100" placeholder="URL here: www.example.com"></p>
  <p>Description:</p>
  <p>
    <textarea name="description" rows="10" cols="80"></textarea>
  </p>
  <p><input type = "submit"></p>

  </form>

</div>
